<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="sharePointServices">
      <section name="service" type="TITcs.SharePoint.Services.SharePointServiceSection"/>
    </sectionGroup>
  </configSections>
  <sharePointServices>
    <service assemblyName="ProviderHosted" />
  </sharePointServices>
  <appSettings>
    <add key="SharePoint:UserName" value="devsp.admin"/>
    <add key="SharePoint:PassWord" value="P@ssw0rd4Dev"/>
    <add key="SharePoint:NetDomain" value="TIT"/>
    <add key="SharePoint:Root" value="http://titcs.sharepoint"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="HandlerFactory" verb="*" path="*.sps" type="TITcs.SharePoint.Services.HandlerFactory"/>
    </handlers>
  </system.webServer>
</configuration>